.contact_content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 80px;
}
.Address, .Email , .Social,.phone{
    width: 350px;
}
.Address{
    margin-left: auto;
}
.heading3{
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
.heading2{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}
.content p{
    font-family: 'Roboto', sans-serif;
    color: #7f7f7f;
    font-size: 18px;
    line-height: 36px;
}
.Contact{
    background-image: url(/static/footer_bg.png);
    margin-top: 200px;
}
@media only screen and (max-width: 550px) {
    // .Address{
    //     margin-right: auto;
    // }
    .Email,.phone,.Social,.Address{
        width: 220px;
        margin-left: auto;
        margin-right: auto;
    }
    .Contact{
        margin-top: 50px;
    }
}